<h3>Welcome!</h3>

<%= link_to 'New Category', new_category_path %>
<p></p>
<p></p>


<ul>
<% @category.each do |category| %>
<div class="well">
	<%= link_to category.name, category %>
	</div>
<% end %>
</ul>